
   <h1 class="name" style="background-color: rgba(0, 0, 0, 0.062); padding-left: 100px; font-style: italic; margin-top: auto; color: rgb(231,84,128)">MANAGER</h1>
   <button *ngIf="managerloginStatus" (click)="logout()" class="btn btn-danger btn-lg" style="float: right">LOGOUT</button>
<div *ngIf="viewPage" class="container clearfix">
   <br />
   <div class="container" style="width: 50%; float: left">
      <h1 style="text-align: center">REGISTER</h1>
      <br />
      <form (ngSubmit)="registerManager()" #id="ngForm">
         <div class="form-group">
            <label>EMAIL : </label>
            <input type="text" class="form-control" name="managerEmail" [(ngModel)]="manager.managerEmail" placeholder="Enter email" required email #email="ngModel" />
            <span class="help-block" *ngIf="!email.valid && email.touched" style="color: red; font-weight: bold">Please Enter Valid Email</span>
         </div>

         <div class="form-group">
            <label>PASSWORD : </label>
            <input type="password" class="form-control" name="managerPassword" [(ngModel)]="manager.managerPassword" placeholder="Enter password" required minlength="5" #pass="ngModel" />
            <span class="help-block" *ngIf="!pass.valid && pass.touched" style="color: red; font-weight: bold">Minimum Length Should Be 5</span>
         </div>

         <div class="form-group">
            <label>NAME : </label>
            <input type="text" class="form-control" name="managerName" [(ngModel)]="manager.managerName" placeholder="Enter name" required #name="ngModel" />
            <span class="help-block" *ngIf="!name.valid && name.touched" style="color: red; font-weight: bold">Please Enter Your Name</span>
         </div>

         <div class="form-group">
            <label>PINCODE : </label>
            <input type="text" class="form-control" name="managerPincode" [(ngModel)]="manager.managerPincode" placeholder="Enter pincode" required #pin="ngModel" />
            <span class="help-block" *ngIf="!pin.valid && pin.touched" style="color: red; font-weight: bold">Please Enter Your Pincode</span>
         </div>
         <button [disabled]="!id.valid" type="submit" class="btn btn-success btn-lg">REGISTER</button>
         <button type="reset" class="btn btn-primary btn-danger" style="margin-left: 10px">RESET</button>
      </form>
   </div>
   <div class="container" style="width: 50%; float: right">
      <h1 style="text-align: center">LOGIN</h1>
      <br />
      <form [formGroup]="loginForm" (ngSubmit)="validateManager()">
         <div class="form-group">
            <label>EMAIL : </label>
            <input type="text" class="form-control" name="managerEmail" formControlName="managerEmail" placeholder="Enter email" />
         </div>

         <div class="form-group">
            <label>PASSWORD : </label>
            <input type="password" class="form-control" name="managerPassword" formControlName="managerPassword" placeholder="Enter password" />
         </div>
         <button type="submit" class="btn btn-success btn-lg">LOGIN</button>
      </form>
   </div>
</div>
<!-- <div class="container clearfix">
   <br />
   <br />
   <button *ngIf="managerloginStatus" (click)="getAllComplaintsByPincode()" class="btn btn-info btn-lg">VIEW ALL COMPLAINTS</button>

   <button *ngIf="managerloginStatus" (click)="getAllFeedbacks()" class="btn btn-info btn-lg" style="margin-left: 10px">VIEW ALL FEEDBACKS</button>
</div> -->
<!-- -------------------------View Complaints------------------------- -->
<br />
<br /><br /><br />
<div *ngIf="viewComplaints" class="container" style="width: 70%">
   <h1>COMPLAINTS</h1>
   <table class="table table-bordered table-hover table-stripped table-secondary">
      <thead class="thead-dark">
         <tr>
            <th scope="col">TICKET ID</th>
            <th scope="col">CUSTOMER EMAIL</th>
            <th scope="col">COMPLAINT</th>
            <th scope="col">PINCODE</th>
            <th scope="col">STATUS</th>
            <th scope="col">ACTIONS</th>

         </tr>
      </thead>
      <tbody >
         
         <tr *ngFor="let complaint of complaints">
           
               <td style="padding-right: 5px">{{ complaint.ticketId }}</td>
               <td style="padding-right: 5px">{{ complaint.customerEmail }}</td>

                  <td style="padding-right: 5px">{{ complaint.complaint }}</td>

                  <td style="padding-right: 5px">{{ complaint.pincode }}</td>

                  <td style="padding-right: 5px">{{ complaint.status }}</td>

                 <td>
                     <button *ngIf="assignEngineersButton" (click)="assignEngineers()" class="btn btn-danger">ASSIGN ENGINEER</button>

                     <select *ngIf="assignEngineersDropdown" (change)="engineerSelected($event)">
                        <option>&#60;---Select Engineer---&#62;</option>
                        <option *ngFor="let mail of engineerEmails" value="{{ mail }}">{{ mail }}</option>
                     </select>
                  </td>
               
           
         </tr>
      
      </tbody>
   </table>
</div>
<br />
<br /><br /><br />
<!-- -------------------view Feedbacks------------------------ -->
<div class="container">
   <div *ngIf="viewFeedbacks">
      <h1>FEEDBACKS</h1>
      <table class="table table-bordered table-stripped table-hover table-secondary">
         <thead class="thead-dark">
            <tr>
               <th style="padding-right: 5px">Feedback Id</th>
               <th style="padding-right: 5px">Ticket Id</th>
               <th style="padding-right: 5px">Customer Email</th>
               <th style="padding-right: 5px">Feedback</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let feedback of feedbacks">
               <td style="padding-right: 5px" scope="row">{{ feedback.feedbackId }}</td>
               <td style="padding-right: 5px">{{ feedback.ticketId }}</td>
               <td style="padding-right: 5px">{{ feedback.customerEmail }}</td>
               <td style="padding-right: 5px">{{ feedback.feedback }}</td>
            </tr>
         </tbody>
      </table>
   </div>
</div>
