<div class="row text-center text-black mb-5" style="width: 100%">
   <div class="col-lg-7 mx-auto clearfix">
      <h1>COMPLAINTS</h1>
   </div>
   <button style="float: right; margin-right: 50px" class="btn btn-danger" (click)="logout()">LOGOUT</button>
</div>
<div class="container" style="margin: auto; width: 50%; padding-left: 220px">
   <form (ngSubmit)="registerComplaint()" #id="ngForm">
      <div class="form-group">
         <label>EMAIL : </label>
         <input type="text" class="form-control" disabled="disabled" name="customerEmail" [(ngModel)]="complaint.customerEmail" placeholder="Enter email" />
      </div>

      <div class="form-group">
         <label>PINCODE : </label>
         <input type="text" class="form-control" name="pincode" [(ngModel)]="complaint.pincode" placeholder="Enter pincode" required #pin="ngModel" />
         <span class="help-block" *ngIf="!pin.valid && pin.touched" style="color: red; font-weight: bold">Please Enter Your Pincode</span>
      </div>

      <div class="form-group">
         <label>COMPLAINT : </label>
         <input type="text" class="form-control" name="complaint" [(ngModel)]="complaint.complaint" placeholder="Enter complaint" required #comp="ngModel" />
         <span class="help-block" *ngIf="!comp.valid && comp.touched" style="color: red; font-weight: bold">Please Enter Your Complaint</span>
      </div>

      <div class="form-group">
         <label>STATUS : </label>
         <input type="text" class="form-control" disabled="disabled" name="status" [(ngModel)]="complaint.status" placeholder="Enter status" />
      </div>

      <button [disabled]="!id.valid" type="submit" class="btn btn-success btn-lg">SUBMIT</button>
   </form>
</div>
<br />
<div class="container" style="padding-left: 50px">
   <button (click)="getAllComplaintsByEmail(complaint.customerEmail)" class="btn btn-info btn-lg">VIEW ALL COMPLAINTS</button>
</div>
<br /><br /><br />
<!-- ---------------------- view complaints ----------------------- -->
<div class="container" style="width: 70%">
   <div *ngIf="viewComplaints">
      <table class="table table-bordered table-stripped table-hover table-secondary">
         <thead class="thead-dark">
            <tr>
               <th scope="col">TICKET ID</th>
               <th scope="col">CUSTOMER EMAIL</th>
               <th scope="col">COMPLAINT</th>
               <th scope="col">PINCODE</th>
               <th scope="col">STATUS</th>
               <th scope="col">REVIEW</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let complaint of complaints">
               <td scope="row">{{ complaint.ticketId }}</td>
               <td>{{ complaint.customerEmail }}</td>
               <td>{{ complaint.complaint }}</td>
               <td>{{ complaint.pincode }}</td>
               <td>{{ complaint.status }}</td>
               <td><button (click)="sendComplaintDetails(complaint)" class="btn btn-danger btn-lg">SEND FEEDBACK</button></td>
            </tr>
         </tbody>
      </table>
   </div>
</div>
